<?xml version="1.0" encoding="UTF-8" ?>
<templates xml:space="preserve">
    <t t-name="frontapp.App">
        <div class="frontapp-odoo">
            <div class="d-flex align-items-center">
                <div class="input-group input-group-sm">
                    <input
                        class="form-control"
                        id="search_input"
                        placeholder="Search for Odoo contact"
                        t-on-keyup="searchContact"
                        t-ref="add-input"
                    />
                    <button class="btn btn-primary">
                        <i class="fa fa-search" t-on-click="searchContact" />
                    </button>
                </div>
                <div class="dropdown ms-2">
                    <button
                        class="btn btn-outline-secondary btn-sm dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Create
                    </button>
                    <ul class="dropdown-menu">
                        <li><a
                                class="dropdown-item"
                                href="#"
                                t-on-click="createContact"
                            >Contact</a></li>
                        <li><a
                                class="dropdown-item"
                                href="#"
                                t-on-click="createCompany"
                            >Company</a></li>
                    </ul>
                </div>
                <a
                    t-if="!session.is_public"
                    href="/web/session/logout?redirect=/frontapp-plugin"
                    class="btn btn-outline-secondary btn-sm ms-2"
                    title="Logout"
                >
                    <i class="fa fa-fw fa-sign-out" />
                </a>
            </div>


            <div id="error" t-ref="error" class="text-center" />

            <div id="login" style="display:none;" class="mt-10" t-ref="login">
                <form
                    class="oe_login_form"
                    role="form"
                    method="post"
                    onsubmit="this.action = '/web/login' + location.hash"
                    action="/web/login"
                >
                    <input type="hidden" name="csrf_token" t-ref="csrf_token" />

                    <div class="form-group field-login">
                        <label for="login">Login</label>
                        <input
                            type="text"
                            placeholder="Login"
                            name="login"
                            id="login"
                            required="required"
                            autocapitalize="off"
                            class="form-control "
                        />
                    </div>

                    <div class="form-group field-password">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            placeholder="Password"
                            name="password"
                            id="password"
                            required="required"
                            autocomplete="current-password"
                            maxlength="4096"
                            class="form-control "
                        />
                    </div>

                    <div class="clearfix oe_login_buttons text-center mb-1 pt-3">
                        <button
                            type="submit"
                            class="btn btn-primary btn-block"
                        >Connexion</button>
                    </div>
                    <input type="hidden" name="redirect" value="/frontapp-plugin" />
                </form>
            </div>

            <div id="info" />

            <div id="contacts" t-ref="contacts" class="contact-list">
                <t t-foreach="contacts" t-as="contact" t-key="contact.id">
                    <Contact contact="contact" />
                </t>
            </div>

        </div>
    </t>
</templates>
